.header-site {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid hsl(0, 20%, 30%);
  border-radius: 10px;
  background-color: antiquewhite;
  text-align: center;
  margin: 20px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: hsl(0, 20%, 30%);
  box-shadow: hsl(0, 50%, 10%);

}

.card-body {
  font-size: 20px;

}